<%= form_for @nav_box, :html => {:multipart => true} do |f| %>
  <% if @nav_box.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@nav_box.errors.count, "error") %> prohibited this nav_box from being saved:</h2>

      <ul>
      <% @nav_box.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :position %><br />
    <%= f.text_field :position %>
  </div>
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :link %><br />
    <%= f.text_field :link %>
  </div>
  <div class="field">
		<%= f.label :image %><br />
    <%= f.file_field :image %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
