<p>
  <b>Title:</b>
  <%= @nav_box.title %>
</p>

<p>
  <b>Link:</b>
  <%= @nav_box.link %>
</p>

<p>
  <b>Image:</b><br>
  <%= image_tag @nav_box.image_url.to_s %>
</p>


<%= link_to 'Edit', edit_nav_box_path(@nav_box) %> |
<%= link_to 'Back', nav_boxes_path %>
