<!DOCTYPE html>
<html>
<head>
  <title>Test Application Layout</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class="dyw_navigation_body">
  <div class="flash">
    <% flash.each do |type, message| -%>
      <div class="message <%= type %>">
        <p><%= message %></p>
      </div>
    <% end -%>
  </div>

<%= yield %>

</body>
</html>
